<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="my-3">Pipes <small class="text-muted">Angular</small></h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th>Variable</th>
                        <th>Pipe</th>
                        <th>Salida</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>